extends layout

block content
  .container-fluid(style='padding-top: 2em;')
    .row
      .col-xs-0.col-sm-1.col-md-2
      .col-xs-0.col-sm-10.col-md-8
        h3 Website status
        p.text Here you can see website information

        .code 
          .command uptime
          =uptime

          .command node -v
          =nodeVersion

          .command current-git-commit
          =gitCommit
        br

        .code
          .command last-update
          =lastUpdate
          
          .command seconds-since-update
          #time=timeSinceLastUpdate
        br
        
        - if (!updating)
          p.text You can request an update every 
            =updateDelay
            |  seconds.
        - else 
          p.text An update has been requested please wait untill the update is complete.

        - var updateAllowed = true;
        - if (timeSinceLastUpdate >= updateDelay && !updating) updateAllowed = false;
        - if (!updating)
          form(method='post', style='padding-bottom: 1em;')
            button.btn.btn-primary(id='btnRequestUpdate', type='submit', name='update', value='true', disabled=updateAllowed) Request update

    script(type='text/javascript').
      setTimeout(function() {
        document.getElementById('btnRequestUpdate').disabled = false;
      }, (#{updateDelay}-#{timeSinceLastUpdate}) * 1000);
    
    script(type='text/javascript').
      var value = #{timeSinceLastUpdate};
      window.setInterval(function() {
        value += 1;
        $("#time").text(value);
      }, 1000);